## Import and Load  Dataset

In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# make matplotlib to show plots inline
%matplotlib inline

# import data from csv
dataframe = pd.read_csv('student-por.csv', usecols = range(0,33)) # select Portugese course dataset
# dataframe = pd.read_csv('student-mat.csv', usecols = range(0,33)) # select Math course dataset

dataset = dataframe.values
dataset.shape

(649, 33)

## Preprocessing

* Convert nominal attributes with Integer + One-Hot Encoding
* Convert G3 for difference supervised approaches
* NOTE: if we want we can also split further into A,B,C (A= all cols, B=same as A without G2, C=same as B without G1)
    * But leaving this out for now since we know A gives best accuracy

In [57]:
# helper functions for preprocessing
def convertToBinary(df, num_cols):
    df.loc[(df.G3 < 10), 'G3'] = 0
    df.loc[(df.G3 >= 10), 'G3'] = 1
    
    G3 = df.values[:,num_cols-1]
    return G3

def convertToFiveLevel(df, num_cols):
    df.loc[(df.G3 <= 9), 'G3'] = 0
    df.loc[(df.G3 > 9) & (df.G3 <= 11), 'G3'] = 1
    df.loc[(df.G3 > 11) & (df.G3 <= 13), 'G3'] = 2
    df.loc[(df.G3 > 13) & (df.G3 <= 16), 'G3'] = 3
    df.loc[(df.G3 > 16), 'G3'] = 4
    
    G3 = df.values[:,num_cols-1]
    return G3   

def oneHotEncode(df, num_cols):
    cols_to_transform = [
                        'school',
                        'sex',
                        'address',
                        'famsize',
                        'Pstatus',
                        'Mjob',                        
                        'Fjob',
                        'reason',
                        'guardian',
                        'famsup',
                        'schoolsup',
                        'paid',
                        'activities',
                        'nursery',                        
                        'higher',
                        'internet',
                        'romantic',
                        ]
    hot_encoded_df = pd.get_dummies(df, columns = cols_to_transform)
    
    attributes = np.delete(hot_encoded_df.values, obj=num_cols-1, axis=1)
    return attributes


# shuffle dataset
# np.random.shuffle(dataset_por)

# find col length
num_cols = dataset.shape[1]

# divide one-hot encoded attributes (X) and G3 (Y)
# X = np.delete(dataset, obj=num_cols-1, axis=1)
X = oneHotEncode(dataframe, num_cols)

# select supervised approach for G3
#Y = convertToBinary(dataframe, num_cols) # sets G3 to binary
Y = convertToFiveLevel(dataframe, num_cols) # set G3 to five-level scale
# Y = dataset[:,num_cols-1] # set G3 to current state for regression

In [59]:
# Y
# X

,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,...,Walc,health,absences,G1,G2,G3,school_GP,school_MS,sex_F,sex_M
0,18,U,GT3,A,4,4,at_home,teacher,course,mother,...,1,3,4,0,11,1,1,0,1,0
1,17,U,GT3,T,1,1,at_home,other,course,father,...,1,3,2,9,11,1,1,0,1,0
2,15,U,LE3,T,1,1,at_home,other,other,mother,...,3,3,6,12,13,2,1,0,1,0
3,15,U,GT3,T,4,2,health,services,home,mother,...,1,5,0,14,14,3,1,0,1,0
4,16,U,GT3,T,3,3,other,other,home,father,...,2,5,0,11,13,2,1,0,1,0
5,16,U,LE3,T,4,3,services,other,reputation,mother,...,2,5,6,12,12,2,1,0,0,1
6,16,U,LE3,T,2,2,other,other,home,mother,...,1,3,0,13,12,2,1,0,0,1
7,17,U,GT3,A,4,4,other,teacher,home,mother,...,1,1,2,10,13,2,1,0,1,0
8,15,U,LE3,A,3,2,services,other,home,mother,...,1,1,0,15,16,4,1,0,0,1
9,15,U,GT3,T,3,4,other,other,home,mother,...,1,5,0,12,12,2,1,0,0,1
10,15,U,GT3,T,4,4,teacher,health,reputation,mother,...,2,2,2,14,14,3,1,0,1,0
11,15,U,GT3,T,2,1,services,other,reputation,father,...,1,4,0,10,12,2,1,0,1,0
12,15,U,LE3,T,4,4,health,services,course,father,...,3,5,0,12,13,2,1,0,0,1
13,15,U,GT3,T,4,3,teacher,other,course,mother,...,2,3,0,12,12,2,1,0,0,1
14,15,U,GT3,A,2,2,other,other,home,other,...,1,3,0,14,14,3,1,0,0,1
15,16,U,GT3,T,4,4,health,other,home,mother,...,2,2,6,17,17,4,1,0,1,0
16,16,U,GT3,T,4,4,services,services,reputation,mother,...,2,2,10,13,13,3,1,0,1,0
17,16,U,GT3,T,3,3,other,other,reputation,mother,...,1,4,2,13,14,3,1,0,1,0
18,17,U,GT3,T,3,2,services,services,course,mother,...,4,5,2,8,8,0,1,0,0,1
19,16,U,LE3,T,4,3,health,other,home,father,...,3,5,6,12,12,2,1,0,0,1
20,15,U,GT3,T,4,3,teacher,other,reputation,mother,...,1,1,0,12,13,3,1,0,0,1
21,15,U,GT3,T,4,4,health,health,other,father,...,1,5,0,11,12,2,1,0,0,1
22,16,U,LE3,T,4,2,teacher,other,course,mother,...,3,5,0,12,13,3,1,0,0,1
23,16,U,LE3,T,2,2,other,other,reputation,mother,...,4,5,2,10,10,1,1,0,0,1
24,15,R,GT3,T,2,4,services,health,course,mother,...,1,5,2,10,11,1,1,0,1,0
25,16,U,GT3,T,2,2,services,services,home,mother,...,3,5,6,10,11,2,1,0,1,0
26,15,U,GT3,T,2,2,other,other,home,mother,...,2,5,8,11,12,2,1,0,0,1
27,15,U,GT3,T,4,2,health,services,other,mother,...,4,1,0,11,11,1,1,0,0,1
28,16,U,LE3,A,3,4,services,other,home,mother,...,1,5,2,12,12,2,1,0,0,1
29,16,U,GT3,T,4,4,teacher,teacher,home,mother,...,5,5,4,12,11,2,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,18,U,GT3,T,3,3,services,services,other,mother,...,3,3,6,13,12,2,0,1,1,0
620,17,U,LE3,T,4,4,at_home,at_home,course,mother,...,1,1,4,15,14,3,0,1,1,0
621,17,R,GT3,T,1,2,other,services,course,father,...,2,3,0,13,13,2,0,1,1,0
622,18,R,GT3,T,1,3,at_home,other,course,mother,...,4,3,0,8,10,0,0,1,0,1
623,18,U,LE3,T,4,4,teacher,services,other,mother,...,2,5,0,15,16,3,0,1,0,1
624,17,R,GT3,T,1,1,other,services,reputation,mother,...,2,1,0,8,8,0,0,1,1,0
625,18,U,GT3,T,2,3,at_home,services,course,father,...,2,4,0,10,10,1,0,1,1,0
626,18,R,GT3,T,4,4,other,teacher,other,father,...,2,5,0,7,5,0,0,1,1,0
627,18,R,LE3,T,1,2,at_home,services,other,father,...,3,3,3,9,10,1,0,1,0,1
628,17,U,GT3,T,2,2,other,at_home,home,mother,...,1,3,8,10,11,2,0,1,1,0
629,17,R,GT3,T,1,2,other,other,course,mother,...,3,1,4,7,8,0,0,1,1,0
630,18,R,LE3,T,4,4,other,other,reputation,mother,...,1,1,0,15,17,4,0,1,1,0
631,18,R,GT3,T,1,1,other,other,home,mother,...,2,4,4,10,11,2,0,1,1,0
632,19,R,GT3,T,1,1,at_home,other,course,other,...,1,3,4,7,8,0,0,1,1,0
633,18,R,LE3,T,4,4,teacher,services,course,mother,...,4,2,1,13,14,3,0,1,1,0
634,18,U,GT3,T,3,3,other,other,home,mother,...,2,1,1,16,16,3,0,1,1,0
635,17,R,GT3,T,3,1,at_home,other,reputation,mother,...,3,1,10,8,9,0,0,1,1,0
636,18,U,GT3,T,4,4,teacher,teacher,home,father,...,4,2,4,17,18,4,0,1,0,1
637,18,R,GT3,T,2,1,other,other,other,mother,...,3,5,0,7,7,0,0,1,0,1
638,17,U,GT3,T,2,3,other,services,home,father,...,1,3,4,14,15,3,0,1,0,1
639,19,R,GT3,T,1,1,other,services,other,mother,...,3,5,0,5,8,0,0,1,0,1
640,18,R,GT3,T,4,2,other,other,home,father,...,3,3,0,7,7,0,0,1,0,1
641,18,R,GT3,T,2,2,at_home,other,other,mother,...,3,4,0,14,17,3,0,1,1,0
642,17,U,GT3,T,4,3,teacher,other,other,mother,...,1,1,0,6,9,1,0,1,1,0
643,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,...,2,5,4,7,9,1,0,1,1,0
644,19,R,GT3,T,2,3,services,other,course,mother,...,2,5,4,10,11,1,0,1,1,0
645,18,U,LE3,T,3,1,teacher,services,course,mother,...,1,1,4,15,15,3,0,1,1,0
646,18,U,GT3,T,1,1,other,other,course,mother,...,1,5,6,11,12,0,0,1,1,0
647,17,U,LE3,T,3,1,services,services,course,mother,...,4,2,6,10,10,1,0,1,0,1
648,18,R,LE3,T,3,2,services,other,course,mother,...,4,5,4,10,11,1,0,1,0,1

## Validation

* Normalize data set -> scaler = sklearn.preprocessing.StandardScaler().fit(X_train)

In [ ]:
ENABLE_LOG_LOSS = True

# method to calculate precision, accuracy, confusion matrix
def calcMetric(actual, predicted):
# return precision_score(actual, predicted)
# return confusion_matrix(actual, predicted, labels=[2, 1])
    return accuracy_score(actual, predicted, normalize = True)


# method to test train/test split by percentage
def splitByPercentageValidation(param, train_size=0.7):
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = train_size, random_state=2017)
    
    # normalize data
    scaler = sklearn.preprocessing.StandardScaler().fit(X_train) 
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)
    
    # run on test and train data
    clf = buildClf(X_train, Y_train, param)
    
    predicted = clf.predict(X_test)
    test_accuracy = calcMetric(Y_test, predicted) 
    predicted = clf.predict(X_train) 
    train_accuracy = calcMetric(Y_train, predicted)
    
    return train_accuracy, test_accuracy

## Classifier Selection